body {
  box-sizing: border-box;
}

.name-box {
  text-align: center;
}

.hidden {
  display: none;
}

.general-box {
  margin: 2px;
  border: solid black 2px;
  padding: 2px;
  overflow: hidden;
  background-color: rgb(184, 175, 175);
}

#header {
  background-color: aqua;
}

.code-box {
  vertical-align: auto;
}
